#create-button {
    -fx-background-color: #008CBA;
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

#create-button:hover{
    -fx-background-color: #009ed3;
}



#quit-button {
    -fx-background-color: #d40000;
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

#quit-button:hover{
    -fx-background-color: #ff0f0f;
}



#save-button {
    -fx-background-color: #02c912;
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

#save-button:hover{
    -fx-background-color: #00e613;
}



#list-button {
    -fx-background-color: #fcf267;
    -fx-background-insets: 0,1,2,3;
    -fx-border-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: rgb(19, 19, 19);
    -fx-font-size: 16px;
    -fx-border-color: white;
}

#list-button:hover{
    -fx-background-color: #fcee28;
}